{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('styles/login.css')}} ">

<div class="example-wrapper">
    
<form method="post" accept-charset="UTF-8">
     
     <h2>Login</h2>
    <input type="hidden" name="action" value="users/login">
    <h3><label for="loginName">Username or email</label></h3>
    <input id="loginName" type="text" name="loginName"
    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password">
    <label>
        <input type="checkbox" name="rememberMe" value="1">
        Remember me
    </label>
    <input type="submit" value="Login" class ="Btn">
</form>
</div>
{% endblock %}
